<component name="libraryTable">
  <library name="Spring">
    <CLASSES>
      <root url="file://D:/Learning/LIBRARIES/spring-framework-4.2.2.RELEASE/libs" />
    </CLASSES>
    <JAVADOC />
    <SOURCES>
      <root url="file://D:/Learning/LIBRARIES/spring-framework-4.2.2.RELEASE/libs" />
    </SOURCES>
    <jarDirectory url="file://D:/Learning/LIBRARIES/spring-framework-4.2.2.RELEASE/libs" recursive="false" />
    <jarDirectory url="file://D:/Learning/LIBRARIES/spring-framework-4.2.2.RELEASE/libs" recursive="false" type="SOURCES" />
  </library>
</component>